<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vend-O-Matic</title>
  <link rel="stylesheet" href="">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Vend-O-Matic</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
<script src="/javascript/index.js"></script>
</body>

</html>
