<div class="">
    <div>     
      <label for="" class="title">Choose your drink:</label>
      <p id="select-label"></p>
        <select name="" id="select-drink">
        {{#each drink}}
        <option index={{@index}} value="{{id}}" id="drink-choice">{{name}}</option>
         {{/each}}
        </select>
        
        
        <button type="submit" id="enter-coins">Add 25 Cents</button>
        <button type="submit" id="submit-drink">Enter Order</button>
        <button type="submit" id="inventory">View Inventory</button>
        
        <div id="inventory-div"></div>
        <div id="coin-div"></div>

    </div>
</div>




 