<div class="">
        
    <div>     
        
      <label for="" class="title">Choose your drink:</label>
        <button class="drink-button" type="submit" id="">Vanilla Latte</button>
        <button class="drink-button" type="submit" id="">Topo Chico</button>
        <button class="drink-button" type="submit" id="">Fiji Water</button>
      <p id="select-label"></p>
        <select name="" id="select-drink">
        {{#each drink}}
        <option index={{@index}} value="{{id}}" id="drink-choice">{{name}}</option>
         {{/each}}
        </select>
        <button class="buttons" type="submit" id="enter-coins">Add 25 Cents</button>
        <button class="buttons" type="submit" id="submit-drink">Enter Order</button>
        <button class="buttons" type="submit" id="inventory">View Inventory</button>
        <button class="buttons" type="submit" id="cancel-order">Cancel</button>
        
        <div id="inventory-div"></div>
        <div id="coin-div">
           
        </div>
         <p id="return-display"></p>
        

    </div>
</div>




 