<div class="">
    <div>     
      <label for="" class="title">Choose your drink:</label>
      <p id="select-label"></p>
        <select name="" id="select-drink">
        {{#each drink}}
        <option index={{@index}} value="{{id}}" id="drink-choice">{{name}}</option>
         {{/each}}
        </select>
        
        <input type="text" id="coins" name="coins">
        <button type="submit" id="submit-drink">Submit</button>
        <button type="submit" id="inventory">View Inventory</button>
        
        <article id="inventory-div">

        </article>
    </div>
</div>




 