<ol class="">
  {{#each drink}}
  <li>
    <div class="">
      <div class="title">
        
        <a  target="_blank">{{name}}</a>
        <span>({{price}})</span>
      </div>
  
    </div>
  </li>
  {{/each}}
</ol>