body {
    background-image: url("../images/vending-machine.png") ;
    
    background-size: contain;
    background-color: transparent;
    background-color: navy;
    position: relative;
    background-repeat: no-repeat;
    
    background-position: center;
    
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 7vw;
    color: yellow;
    text-align: center;
    margin-top: 300px;
    text-shadow: -3px 3px 0 #000,
    3px 3px 0 #000,
    3px -3px 0 #000,
    -3px -3px 0 #000;
}

.drink-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;  
}